#game-page{
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 200px 1fr;

    padding: 20px;
}

#game-page h2{
    margin-bottom: 10px;
}

.header-game-page{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.list-users{
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.user-block{
    display: flex;
    flex-wrap: wrap;
    padding-right: 20px;
}

.status-user{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid black;
    margin-right: 10px;
}

.ready-status-red{
     background: red;
 }

.ready-status-green{
    background: green;
}
.progress-bar{
    flex: 0 0 100%;
    border: 2px solid black;
    height: 20px;
    margin-top: 10px;
}

.progress{
    width: 0%;
    height: 100%;
    background-color: green;
}

.game-block{
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#ready-btn, .btn-back{
    border: 2px solid black;
    padding: 10px;
}

#ready-btn:hover, .btn-back:hover{
    background-color: black;
    color: white;
}

.timer-for-game{
    position: absolute;
    top: 10px;
    right: 10px;
}